<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      XO game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-information-bar [update]="updateInfo"></app-information-bar>
  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col>
        <ion-label>{{ winner }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid [fixed]="true">
    @for( i of [0,1,2]; track i){
    <ion-row>
      @for( j of [0,1,2]; track j){
      <ion-col>
        <xo-btn [state]="gameState.getBoxState(i,j)" [isEnd]="isEnd" [col]="j" [row]="i"
          (checkEvent)="changeTurn($event)"></xo-btn>
      </ion-col>
      }
    </ion-row>
    }
  </ion-grid>
  <app-action-btn-bar (restartEvent)="reset()"></app-action-btn-bar>
</ion-content>
